$mainColor:#c32865;
$subColor:white;
$mainFont: "Poppins", sans-serif;
$subFont: "Roboto", sans-serif;

::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: $mainColor;
}
::selection{
    background-color: $mainColor ;
    color:$subColor
}


nav{
    background-color: #101010;
    position:sticky !important;
    top: 0;
    z-index: 5;
    .menu{
        margin-right: 20px;
        cursor: pointer;
        position: absolute;
        right: 0;
    }
    .menu div{
        width: 30px;
        height: 2px;
        background-color: $subColor;
        margin: 6px 0;
        transition: transform .5s ease-in-out;
    }
    .menu:hover div:first-child,
    .menu:hover div:last-child{
        transform: scaleX(.6);
    }
    .menu:hover div{
        background-color: $mainColor;
    }
    .menu div{
        width: 30px;
        height: 2px;
        background-color: $subColor;
        margin: 6px 0;
    }
    .drop-menu{
        visibility: hidden;
        position: absolute;
        right: 0rem;
        top: 0px;
        background-color: #171717;
        width: 100%;
        height: 100vh;
        display: flex;
        padding-top: 20px;
        align-items: center;
        flex-direction: column;
        li{
            list-style: none;
            margin-block:25px;
            // position: relative;
            a{
            color: white;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            margin-inline: 20px;
            text-decoration: none;
            font-size: 20px;
            }
            a::after,a::before{
                content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $mainColor;
            transition: width 0.6s ease;
            z-index: 12;
            }
            a::before{
                right: 50%;
            }
            a:hover::after{
                width: 100%;
                display: block;
            }
            
        }
     
        span{
          display: flex;
          align-items: center;
          margin-top: 25px;
          span{
            margin-inline: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .5s ease;
            margin-bottom:10px;
            border-radius: 50%;
            svg{
              color:white ;
            }
          }
          span:hover{
            background-color: #c32865;
          }
        }
        p{
          color: white;
        }
      }
      .close-icon{
        position: absolute;
        right: 2rem;
        color: white;
        cursor: pointer;
        svg{
          font-size: 30px;
          transition: transform .5s ease;
        }
      }
      .close-icon:hover svg {
        transform: rotate(360deg) !important;
      }
      /* input[type="checkbox"]:checked + label .open .drop-menu{
        visibility: visible;
      } */
      input[type="checkbox"]:checked + label .drop-menu{
        visibility: visible;
      }
      input[type="checkbox"]{
        display: none;
      }
      
    .navbar-nav a{
        color: $subColor;
        font-weight: 400;
        font-family: $mainFont;
        margin-inline: 20px;
    }
    .navbar-nav a:hover{
        color: $subColor;
    }
    .navbar-nav li:last-child {
        margin-inline:10px ;
        background-color: $mainColor;
        padding: 10px 20px;
        border-radius:30px;
        transition: all .5s ease-in-out;
        border: 2px solid $mainColor;
    }
    .navbar-nav li a{
        font-weight: 700;
        position: relative;
    }
    .navbar-nav li a::after,.navbar-nav li a::before{
        content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $mainColor;
    transition: width 0.6s ease;
    }
    .navbar-nav li a::before{
        right: 50%;
    }
    .navbar-nav li a:hover::after{
        width: 100%;
        display: block;
    }
    .navbar-nav li:last-child a{
        font-weight: 700;
        position: relative;
    }
    .navbar-nav li:last-child a::after,.navbar-nav li:last-child a::before{
        content: "";
    position: absolute;
    width: 0%;
    }
    .navbar-nav li:last-child:hover {
        background-color: transparent;
        color: $mainColor;
    }
    .navbar-nav li:last-child:hover a {
        color: $mainColor;
    }
}
.landing{
    background-image: url(../images/slider-3.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-block: 200px ;
    position: relative;
    .container{
        align-items: center;
        position: relative;
        top: 35%;
    }
    &-info{
        h1{
            color: $subColor;
            font-weight: 700;
            font-family: $mainFont;
            line-height: 60px;
            span{
                font-weight: 200;
            }
        }
        p{
            color: $subColor;
            font-size: 16px;
            margin-block:10px;
        }
        a{
            text-decoration: none;
            font-weight: 700;
            color: $subColor;
            border: 2px solid $subColor;
            padding: 10px 15px;
            border-radius: 30px;
            display: inline-block;
            margin-block:10px;
            transition: all .5s ease-in-out;
        }
        a:hover{
        background-color: $mainColor;
        border: #c32865 2px solid;
        }
    }
    .social-media{
        position: absolute;
        right: 0;
        top: 35%;
        display: flex;
        flex-direction: column;
        margin-right:100px ;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            margin-bottom: 20px;
            border-radius: 50%;
            transition: background-color .5s ease-in-out;
            cursor:pointer;
        }
        span:hover{
            background-color: $mainColor;
        }
        svg{
            color:$subColor;
        }
    }
    .scroll{
        color: $mainColor;
        font-weight: 300;
        font-family: $mainFont;
        cursor: pointer;
        svg{
            font-weight: bold;
            animation-name: down;
            animation-duration: 1s;
            animation-delay: 2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            }
        }
    .up{
        width: 40px;
        height: 40px;
        position: fixed;
        right: 10px;
        border-radius: 50%;
        bottom: 20px;
        background-color: $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        svg{
            color: $subColor;
        }
    }
}

@keyframes down {
    0% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(8px);
    }
}

.about{
    background-image: url(../images/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 100px;
    .info{
        span{
            display: inline-block;
        }
        h5{
            color:$mainColor;
            font-weight: 300;
        }
        h2{
            color: $subColor;
            font-weight: 600;
            font-family: $mainFont;
        }
    }
    .content{
        p{
            color: #797979;
            font-size: 18px;
        }
    }
    &-features{
        margin-block: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div{
            text-align: center;
            padding: 30px 15px;
            cursor: pointer;
            svg{
                font-size: 80px;
                color: $subColor;
                text-align: center;
                transition: all .5s ease-in-out;
            }
            p{
                color: $subColor;
                font-size: 30px;
                font-weight: 200;
                span{
                    display: inline-block;
                }
            }
        }
        div:hover svg{
            transform: translateY(-15px);
            color:$mainColor;
        }
    }
}
.team{
    max-height: 90%;
    .carousel-item::after{
        content: "";
        width: 2%;
        height: 2%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.236);
        top: 0;
        left: 0;
        transition: all .8s ease-in-out;
        visibility: hidden;
    }
    .carousel-item:hover::after{
        visibility: visible;
        transform: scale(100);
    }
    .carousel-item:hover::before{
        visibility: visible;
        transform: scale(100);
    }
    .carousel-item::before{
        content: "";
        width: 2%;
        height: 2%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.227);
        bottom: 0;
        right: 0;
        visibility: hidden;
        transition: all .8s ease-in-out;
    }
    .skills{
        background-image: url(../images/stats-bg.jpg);
        background-size: cover;
        .heading{
            color: $subColor;
            font-family: $mainFont;
        }
        .Business{
            margin-block: 30px;
            span {
                h6{
                    color: $subColor;
                }
            }
            .progress-bar{
                background-color: $mainColor;
            }
        }
    }
}
.our-work{
    background-image: url(../images/about_bg.jpg);
    padding: 100px 0;
    h5{
        color: $mainColor;
    }
    h2{
        color: $subColor;
        font-size: 40px;
        font-family: $mainFont;
        font-weight: 600;
        margin-block:20px;
    }
    p{
        color: #797979;
        font-size: 18px;
        margin-block:20px;
        span{
            display: block;
        }
    }
    .links{
        padding-block:20px;
        a{
            margin: 10px 5px;
            display: inline-block;
            width: 120px;
            padding: 10px 10px;
            text-decoration: none;
            color: $subColor;
            border: 1px solid $subColor; 
        }
        a:first-child{
            background-color: $mainColor;
            border:none;
        }
    }
    .portfolio{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2px;
    margin-top: 20px;
        div{
            background-repeat: no-repeat;
            background-position: center;
            height:240px;
            width: 100%;
            
            position: relative;
            cursor: pointer;
            span{
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                visibility: hidden;
                background-color: rgba(0, 0, 0, 0.871);
                transition:all .3s ease-in-out ;
                .icon{
                    margin-block:50px 0;
                    margin-inline: auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        color: $subColor;
                    }
                }
                h3{
                color: $subColor;
                }
                .address{
                    color: $subColor;
                    margin-block:10px 0;
                }
            }
        }
        div:hover span{
            visibility: visible;
        }
        div:first-child{
            background-image:url(../images/portfolio-img1.jpg) ;
        }
        div:nth-child(2){
            background-image:url(../images/portfolio-img2.jpg) ;
        }
        div:nth-child(3){
            background-image:url(../images/portfolio-img3.jpg) ;
        }
        div:nth-child(4){
            background-image:url(../images/portfolio-img4.jpg) ;
        }
        div:nth-child(5){
            background-image:url(../images/portfolio-img5.jpg) ;
        }
        div:last-child{
            background-image:url(../images/portfolio-img6.jpg) ;
        }
    }
    .btn{
        text-decoration: none;
        color: $subColor;
        max-width: 400px;
        text-align: center;
        display: inline-block;
        margin :50px auto;
        padding: 15px 50px;
        background-color: $mainColor;
        border-radius: 30px;
        border: 2px solid $mainColor;
        transition: all .5s ease-in-out;
        font-weight: 700;
    }
    .btn:hover {
        background-color: transparent;
        color: $mainColor;
    }
    .clients{
        cursor: pointer;
        padding-block: 50px 0;
    }
}
.Testimonial{
    background-image: url(../images/parallax-img.jpg);
    background-position:  center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    padding: 50px 0;
}
.pricing{
    background-image: url(../images/pricing.jpg);
    padding: 100px 0;
    h5{
        color: $mainColor;
        font-weight: 400;
        margin-block: 20px;
    }
    h1{
        color: $subColor;
        font-family: $mainFont;
        font-weight: 600;
        font-family: 40px;
        margin-block: 20px;
    }
    .cards{ 
        .card:hover{
            background-color: #202020;
            span{
                h4{
                    color: $mainColor;
                }
                p{
                    color: white;
                }
            }
            
        }
        .card{
        transition: all .5s ease-in-out;
        background-color: transparent;
        border: none;
        text-align: start;
        h3{
            color: $subColor;
            font-size: 25px;
            font-weight: 400;
            font-family: $mainFont;
            padding-block:10px;
        }
        span{
            h4{
                font-size: 50px; 
                color: white;
                font-weight: 400; 
            }
            svg{
                color: rgb(17, 193, 17);
                margin-right: 5px;
            }
            span{
                font-family: $mainFont;
            }
            p{
                color:#797979;
            }
        }
        .features{
            padding-block:20px;
        }
        a{
            text-decoration: none;
            color: $subColor;
            width: 100%;
            text-align: center;
            border-radius: 30px;
            padding: 10px;
            border:1px solid white;
            font-weight:700;
            transition: all .5s ease-in-out;
        }
        a:hover{
            background-color: $mainColor;
            border: 1px solid $mainColor;
        }
    }
}
}
.blog {
    .content{
        .carousel-item::after{
            content: "";
            width: 2%;
            height: 2%;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.236);
            top: 0;
            left: 0;
            transition: all .8s ease-in-out;
            visibility: hidden;
        }
        .carousel-item:hover::after{
            visibility: visible;
            transform: scale(100);
        }
        .carousel-item:hover::before{
            visibility: visible;
            transform: scale(100);
        }
        .carousel-item::before{
            content: "";
            width: 2%;
            height: 2%;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.227);
            bottom: 0;
            right: 0;
            visibility: hidden;
            transition: all .8s ease-in-out;
        }
        display: flex;
        flex-wrap:wrap ;
        .blog-text{
            background-image: url(../images/blog-bg.jpg);
            h5{
                color:$mainColor;
                font-weight: 300;
                font-family: $mainFont;
            }
            h2{
                color:$subColor;
                font-weight: 600;
                font-size: 40px;
                font-family: $mainFont;
                margin-block: 30px ;
            }
            p{
                color: #797979;
            }
            a{
                text-decoration: none;
                background-color: $mainColor;
                display: inline-block;
                border: 2px solid $mainColor;
                padding: 15px;
                color: white;
                font-family: $mainFont;
                font-weight: 700;
                width: 200px;
                text-align: center;
                border-radius:30px ;
                transition: all .5s ease;
                margin-top: 35px;
            }
            a:hover{
                background-color: transparent;
                border: 2px solid $mainColor
            }
        }
    }
}
.contact{
    background-image: url(../images/pricing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;

    h5{
        color: $mainColor;
    }
    h2{
        color:$subColor;
        font-family: $mainFont;
        font-weight: 600;
        font-size: 40px;
        margin-block:30px 50px;
    }
    .contact-info{
        padding: 10px 5px ;
        p{
            color:$subColor
        }
        .contact-type{
            div{
                margin-top: 20px;
                h6{
                    color:$mainColor
                }
            }
        }
    }
    .contact-form{
        padding: 0 20px;
        form {
            display: grid;
            grid-template-columns: repeat(12,auto);
            gap: 1.5rem;
            input{
                color:$subColor;
                padding: 10px 5px ;
                background-color: transparent;
                border:none;
                outline:none;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(226, 219, 219, 0.314);
            }
            textarea{
                background-color: transparent;
                border:none;
                outline:none;
                border-bottom: 1px solid rgba(226, 219, 219, 0.314);
            }
        }
        a{
            display: inline-block;
            width: 100%;
            padding:12px;
            background-color: $mainColor;
            color: $subColor;
            font-family: $mainFont;
            font-weight: 700;
            text-align: center;
            margin-block:20px;
            text-decoration: none;
            border-radius: 30px;
            border: 2px solid $mainColor;
            transition: background-color .5s ease;
        }
        a:hover{
            background-color: transparent;
            border: 2px solid $mainColor;
        }
    }
}
iframe{
    width: 100%;
    height: 400px;
}
footer{
    background-image: url(../images/pricing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    p{
        color:$subColor;
        span{
            transition: color .5s ease;
            display: inline-block;
            margin: 0;
            cursor: pointer;
        }
        span:hover{
            color:$mainColor
        }
    }
    .social-media{
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin-inline: 16px;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color .5s ease;
            svg{
                color: $subColor;
            }
        }
        span:hover{
            background-color: $mainColor;
        }
    }
}



@media (max-width:457px){
    .landing-info{
        justify-content: center;
        text-align: center ;
        p{
            font-size: 14px;
            max-width: 100%;
        }
        
    }
    .portfolio{
        div{
            grid-column: span 12;
        }
    }
    .contact-form{
        form {
                input{
                    grid-column: span 12 ;
                }
                textarea{
                    grid-column: span 12 ;
                }
            }
        }
        .landing .social-media{
            visibility: hidden;
        }
}


@media (min-width:640px){
    .landing-info{
        text-align: center ;
        p{
            font-size: 14px;
        }
    }
    .portfolio{
        div{
            grid-column: span 12;
        }
    }
    .contact-form{
        form {
                input{
                    grid-column: span 12 ;
                }
                textarea{
                    grid-column: span 12 ;
                }
            }
        }
        .landing .social-media{
            visibility: hidden;
        }
    
}
@media (min-width:768px){
    .landing-info{
        text-align: center ;
    }
    .portfolio{
        div{
            grid-column: span 6;
        }
    }
    .contact-form{
        form {
                input{
                    grid-column: span 6 ;
                }
                textarea{
                    grid-column: span 12 ;
                }
            }
        }
        .landing .social-media{
            visibility: hidden;
        }
}
@media (min-width:1024px){
    .landing-info{
        text-align: center ;
    }
    .portfolio{
        div{
            grid-column: span 6;
        }
    }
    .contact-form{
        form {
                input{
                    grid-column: span 6 ;
                }
                textarea{
                    grid-column: span 12 ;
                }
            }
        }
        .landing .social-media{
            visibility: visible;
        }
}
@media (min-width:1200px) {
    .landing-info{
        text-align: center  ;
    }
    .portfolio{
        div{
            grid-column: span 4;
            
        }
    }
    .contact-form{
        form {
                input{
                    grid-column: span 6 ;
                }
                textarea{
                    grid-column: span 12 ;
                }
            }
        }
        .landing .social-media{
            visibility: visible;
        }
}
